/* ゲーム選択画面用のCSS */
@font-face {
	font-family: 'basefont';
  src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
}

body {
  background-image: url(../img/space.jpeg);
  color: white;
  font-family: 'basefont';
}

h1 img{
  width: 120px;
}

#output {
    overflow: auto;
    height: 500px;
    display: flex;
    justify-content: space-around;
    width: 1300px;
    border: 1px solid black;
  }
  
  #output2 {
    overflow: auto;
    height: 500px;
    display: flex;
    justify-content: space-around;
    width: 1300px;
    border: 1px solid black;
  }
  
  .output__column {
    width: 15%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 1px dotted black;
  }
  
  #ranking table tr,th,td{
    border: 1px solid black;
  }
  
  /* ゲームサンプル1 ハートをつかめ用のCSS */
  .box {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
  }
  
  #box__ArrowUp {
    margin: 0 auto;
  }
  
  #box__ArrowDown {
    margin: 0 auto;
  }
  
  #boxes__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box__output {
    height: 400px;
    width: 400px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  
  #box__result {
    height: 30px;
  }
  
  #game__status {
    text-align: center;
    height: 80px;
    margin-top: 16px;
  }
  
  .red {
    color: yellow;
  }

  #chara {
    width: 40px;
  }