@font-face {
	font-family: 'basefont';
  src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
}

body {
  background-image: url(./img/space.jpeg);
  text-align: center;
  color: white;
  font-family: 'basefont';
}

.charalist {
  display: flex;
  justify-content: center;
}

.chara {
  margin: 30px;
  padding: 40px;
  border: 1px solid black
}

div.container {
  padding: 40px;
}

img {
  border-radius: 14px;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label img {
  box-shadow: 0 0 0 5px rgb(255, 0, 0);
}

#send {
  margin-top: 50px;
}